@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&family=Bungee+Spice&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
Body{
    font-family: "Roboto", sans-serif;
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    background-color: rgb(228, 226, 226);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


a{
    margin: 60px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1.5px solid rgb(34, 32, 32);
    border-radius: 80px;
    padding: 6px;
}

a:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s all;
    background-color: rgb(0, 0, 0);
}

h1{
    font-family: "Brawler", serif;
}
main{
    margin-top: 25vh;
}

footer {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    padding: 10px;
}

img{
    margin: 0 10px;
}

div{
    position: absolute;
    top: 50%; /* Coloca o topo da imagem no meio vertical */
    right: 0; /* Alinha a imagem ao lado direito */
    transform: translateY(-50%);
    margin: 0 10px;
}
