@media screen and (max-width: 760px) {
    header{
        flex-direction: column;
   
    }

    a{
        margin: 32px;
    }

    main{
        flex-direction: column;

    }

    div{
        font-size: 22px;
    }

    img{
        width: 390px;
    }
}

